* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  padding: 0.5em;
  font-size: 1.2em;
}

.App {
  padding: 2em;
}

.Navigation {
  display: flex;
}

.Navigation-item {
  display: block;
  padding: 0.5em;
  margin: 0.5em;
}

.Navigation-item--active {
  color: hotpink;
}

.Button {
  text-align: center;
  margin: 2em 0;
}

.Posts,
.Users,
.Comments {
  padding: 1em;
}

.Post,
.User,
.Comment {
  border: 2px solid black;
  padding: 0 1em;
}

.User {
  display: flex;
  flex-direction: column;
}

.User span {
  margin-bottom: 0.5em;
}

.Post:not(:last-child),
.User:not(:last-child),
.Comment:not(:last-child) {
  margin-bottom: 1em;
}
