* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  padding: 2em;
}

.Navigation {
  display: flex;
}

.Navigation-item {
  display: block;
  padding: 0.5em;
  margin: 0.5em;
}

.Navigation-item--active {
  color: hotpink;
}

.Posts,
.Users,
.Comments {
  padding: 1em;
}

.Post {
  border: 2px solid black;
  padding: 0 1em;
}

.Post:not(:last-child) {
  margin-bottom: 1em;
}
